.cover {
    height: 757px;
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    background-repeat: round;
    display: grid;
    grid-area: 1/2;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 1440px; /*Не понял, как сделать width 100% и при этом, что бы он был не шире .cover*/
    height: 757px;
    position: absolute;
}

.cover-h1 {
    z-index: 1;
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    white-space: pre;
    text-transform: uppercase;
    padding-top: 165px;
    padding-left: 50px;
}

.cover-span-o {
    letter-spacing: 60px;
}

.cover-span-e {
    letter-spacing: 60px;
}

.cover-span-n {
    letter-spacing: 60px;
}

.cover-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
    color: #fff;
    padding-bottom: 50px;
    padding-right: 50px;
}

.cover-subtitle-text {
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    margin-right: 78px;
    word-spacing: 1rem;
}

.cover-subtitle-btn {
    color: #fff;
    padding: 12px 32px 12px 32px;
    border: 1px solid #FFF;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}