.cover {
    position: relative;
    min-height: 757px;
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    background-repeat: round;
    display: grid;
    grid-area: 1/2;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 757px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cover-h1 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    z-index: 1;
    color: #FFF;
    max-height: 355px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 10px 0 50px;
    margin-bottom: 135px;
}

.h1-center-text {
    text-align: center;
}

.h1-right-text {
    text-align: right;
}

.cover-span-o {
    letter-spacing: 60px;
}

.cover-span-e {
    letter-spacing: 60px;
}

.cover-span-n {
    letter-spacing: 60px;
}

.cover-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 2;
    color: #fff;
    padding-right: 50px;
}

.cover-subtitle-text {
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    margin-right: 78px;
    word-spacing: 1rem;
}

.cover-subtitle-btn {
    color: #fff;
    padding: 12px 32px 12px 32px;
    border: 1px solid #FFF;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}