.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    min-width: 1340px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 92px;
    margin-bottom: 96px;
    font-size: 18px;
}

.nav {
    margin-right: auto;
}

.header-menu-list {
    display: flex;
    gap: 30px;
}

.header-menu-item {
    text-decoration: underline;
}

.header-menu-item:nth-child(1) {
    text-decoration: none;
    list-style: none;
}

.header-logo {
    max-width: 140px;
}

.header-contacts {
    margin-left: auto;
    max-width: 240px;
}

.header-contacts-link {
    text-decoration: underline;
}