.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px 0 50px;
    margin-bottom: 92px;
    font-size: 18px;
}

.header-menu-list {
    display: flex;
    gap: 30px;
}

.header-logo {
    max-width: 148px;
    left: 50%;
}

.header-contacts {
    max-width: 240px;
}

.header-contacts-link {
    text-decoration: underline;
}